<div class="app">
  <img class="ps-2" src="../assets/logo.132eca10156e4b34adbd.png" alt="logo" />
  <form
    class="d-flex flex-column justify-content-start align-items-center mt-3"
    [formGroup]="toDoForm"
  >
    <div class="d-flex align-items-center justify-content-center">
      <mat-form-field>
        <mat-label>Type your task here</mat-label>
        <input #taskRef matInput formControlName="task" />
      </mat-form-field>
      <div class="mb-4">
        <button
          (click)="createTask(taskRef)"
          type="button"
          class="m-3"
          mat-fab
          color="primary"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="resetToDoList()" type="button" mat-fab color="primary">
          <mat-icon>replay</mat-icon>
        </button>
      </div>
    </div>

    <div formArrayName="tasks">
      <div *ngFor="let item of taskstodo.controls; let i = index">
        <div class="d-flex justify-content-cente">
          <mat-form-field>
            <input #editRef matInput [formControlName]="i" />
          </mat-form-field>

          <div>
            <button
              (click)="deleteTask(i)"
              type="button"
              mat-fab
              color="primary"
              class="ms-3"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>

            <button
              (click)="editTask(i, editRef.value)"
              class="mx-2"
              type="button"
              mat-fab
              color="primary"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
